n8n/workflows/WF-01-lead-scraper.json
{
  "meta": {
    "instanceId": "local"
  },
  "name": "WF-01 Lead Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        },
        "timezone": "Asia/Taipei"
      },
      "id": "node-wf01-01",
      "name": "Schedule - Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Emit one item per scraping source\nreturn [\n  { json: { source: 'pro360' } },\n  { json: { source: 'chutask' } }\n];"
      },
      "id": "node-wf01-02",
      "name": "Set Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scraper:3001/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "source", "value": "={{ $json.source }}" },
            { "name": "limit", "value": "20" },
            { "name": "delay_min_ms", "value": "3000" },
            { "name": "delay_max_ms", "value": "10000" }
          ]
        },
        "options": {
          "timeout": 60000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "node-wf01-03",
      "name": "HTTP - Scrape Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-scrape-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-wf01-04",
      "name": "IF - Scrape Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Flatten leads array — add source to each lead item\nconst source = $json.source;\nconst leads = $json.leads || [];\nreturn leads.map(lead => ({\n  json: { ...lead, source }\n}));"
      },
      "id": "node-wf01-05",
      "name": "Expand Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS cnt FROM leads WHERE source = '{{ $json.source }}' AND external_id = '{{ $json.external_id }}'",
        "options": {}
      },
      "id": "node-wf01-06",
      "name": "Postgres - Check Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 180],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Agency Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-is-new",
              "leftValue": "={{ Number($json.cnt) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-wf01-07",
      "name": "IF - Is New Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (\n  external_id, source, url, title, description,\n  budget_raw, tech_stack, status\n) VALUES (\n  '{{ $json.external_id }}',\n  '{{ $json.source }}',\n  '{{ $json.url }}',\n  '{{ $json.title }}',\n  '{{ $json.description }}',\n  '{{ $json.budget_raw }}',\n  ARRAY[{{ $json.tech_stack ? $json.tech_stack.map(t => `'${t}'`).join(',') : '' }}]::TEXT[],\n  'new'\n)\nON CONFLICT (source, external_id)\nWHERE external_id IS NOT NULL\nDO NOTHING\nRETURNING id, external_id, source, title, description, budget_raw, tech_stack",
        "options": {}
      },
      "id": "node-wf01-08",
      "name": "Postgres - Insert Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1780, 60],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Agency Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_logs (agent_name, action, entity_type, entity_id, status, output_summary)\nVALUES ('scraper', 'scrape_success', 'lead', {{ $json.id }}, 'success', 'New lead inserted: {{ $json.title }}')",
        "options": {}
      },
      "id": "node-wf01-08b",
      "name": "Postgres - Log Insert Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2000, 60],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Agency Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scorer:3002/score",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "lead_id", "value": "={{ $json.id }}" },
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "description", "value": "={{ $json.description }}" },
            { "name": "budget_raw", "value": "={{ $json.budget_raw }}" },
            { "name": "tech_stack", "value": "={{ $json.tech_stack }}" }
          ]
        },
        "options": {
          "timeout": 35000
        }
      },
      "id": "node-wf01-09",
      "name": "HTTP - Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 60]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET\n  status = 'pending_decision',\n  budget_estimate = '{{ $json.budget_estimate }}',\n  risk_score = {{ $json.risk_score }},\n  fit_score = {{ $json.fit_score }},\n  expected_profit_score = {{ $json.expected_profit_score }},\n  recommended_action = '{{ $json.recommended_action }}',\n  reason_summary = '{{ $json.reason_summary }}',\n  ollama_model = '{{ $json.model }}',\n  scored_at = NOW(),\n  status_updated_at = NOW()\nWHERE id = {{ $json.lead_id }}\nRETURNING id",
        "options": {}
      },
      "id": "node-wf01-10",
      "name": "Postgres - Update Score",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2440, 60],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Agency Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "rpush",
        "key": "queue:notify",
        "value": "={{ $json.id }}"
      },
      "id": "node-wf01-11",
      "name": "Redis - Push Notify Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2660, 60],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Agency Redis"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-wf01-skip",
      "name": "NoOp - Skip Duplicate",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_logs (agent_name, action, entity_type, status, error_message, input_summary)\nVALUES ('scraper', 'scrape_failed', 'lead', 'failed', '{{ $json.error || \"Scraper returned success=false\" }}', 'source={{ $json.source }}')",
        "options": {}
      },
      "id": "node-wf01-fail",
      "name": "Postgres - Log Scrape Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 420],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Agency Postgres"
        }
      }
    }
  ],
  "connections": {
    "Schedule - Every Hour": {
      "main": [
        [{ "node": "Set Sources", "type": "main", "index": 0 }]
      ]
    },
    "Set Sources": {
      "main": [
        [{ "node": "HTTP - Scrape Source", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Scrape Source": {
      "main": [
        [{ "node": "IF - Scrape Success", "type": "main", "index": 0 }]
      ]
    },
    "IF - Scrape Success": {
      "main": [
        [{ "node": "Expand Leads", "type": "main", "index": 0 }],
        [{ "node": "Postgres - Log Scrape Failed", "type": "main", "index": 0 }]
      ]
    },
    "Expand Leads": {
      "main": [
        [{ "node": "Postgres - Check Duplicate", "type": "main", "index": 0 }]
      ]
    },
    "Postgres - Check Duplicate": {
      "main": [
        [{ "node": "IF - Is New Lead", "type": "main", "index": 0 }]
      ]
    },
    "IF - Is New Lead": {
      "main": [
        [{ "node": "Postgres - Insert Lead", "type": "main", "index": 0 }],
        [{ "node": "NoOp - Skip Duplicate", "type": "main", "index": 0 }]
      ]
    },
    "Postgres - Insert Lead": {
      "main": [
        [{ "node": "Postgres - Log Insert Success", "type": "main", "index": 0 }]
      ]
    },
    "Postgres - Log Insert Success": {
      "main": [
        [{ "node": "HTTP - Score Lead", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Score Lead": {
      "main": [
        [{ "node": "Postgres - Update Score", "type": "main", "index": 0 }]
      ]
    },
    "Postgres - Update Score": {
      "main": [
        [{ "node": "Redis - Push Notify Queue", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "id": "wf-01-lead-scraper"
}
